<PaperToolbar>
  <PaperToolbarTools>
    {{#if session.isAuthenticated}}
    <PaperMenu as |menu|>
      <menu.trigger>
        <PaperButton @iconButton={{true}}>
          {{paper-icon "menu"}}
        </PaperButton>
      </menu.trigger>
      <menu.content as |content|>
        <content.menu-item @onClick={{action "goHome"}}>Home</content.menu-item>
        <content.menu-item @onClick={{action "goDashboard"}}>Dashboard</content.menu-item>
        <content.menu-item @onClick={{action "goSpeedTestClient"}}>Speed Test Clients</content.menu-item>
        <content.menu-item @onClick={{action "goSpeedTest"}}>Speed Tests</content.menu-item>
      </menu.content>
    </PaperMenu>
    {{/if}}
    <PaperButton @onClick={{action "goHome" }}>
      Geronimo
    </PaperButton>
    <span class="flex"></span>
    {{#if session.isAuthenticated}}
      <PaperButton @iconButton={{true}}>
        {{paper-icon "person"}}
        <PaperTooltip>{{identification}}</PaperTooltip>
      </PaperButton>
      <PaperButton @onClick={{action invalidateSession}}>
        Log Out
      </PaperButton>
    {{ else }}
      <PaperButton @onClick={{action (transition-to 'register')}}>
        Register
      </PaperButton>
      <PaperButton @raised={{true}} @onClick={{action (transition-to 'login')}}>
        Log In
      </PaperButton>
    {{/if}}
  </PaperToolbarTools>
</PaperToolbar>