<PaperItem class="speed-test-client">
    <div class="md-list-item-text">
        <h3>{{@speedtestclient.name}} (id:{{@speedtestclient.id}})</h3>
        <div class="layout-row">
            <span>URI: {{@speedtestclient.uri}}</span>
            <span>Owner: {{@speedtestclient.owner.username}}</span>
        </div>
        <PaperSwitch @value={{@speedtestclient.active}} @onChange={{null}}>
            {{#if @speedtestclient.active}}    
                Active
            {{else}}
                Inactive
            {{/if}}
        </PaperSwitch>
    </div>
</PaperItem>
