<PaperItem class="speed-test-client">
    <PaperCheckbox @onChange={{null}}></PaperCheckbox>
    <div class="md-list-item-text">
        <h3>{{@speedtestclient.name}} (id:{{@speedtestclient.id}})</h3>
        <h4>URI:{{@speedtestclient.uri}}</h4>
        <PaperSwitch @value={{@speedtestclient.active}} @onChange={{null}}>
            {{#if @speedtestclient.active}}    
                Active
            {{else}}
                Inactive
            {{/if}}
        </PaperSwitch>
    </div>
    <PaperDivider />
</PaperItem>
