<div class="inner-container">
    <PaperList>
        <PaperSubheader class="list-container-header">
            <div class="layout-row">
                <h1>Speed Test Clients</h1>
                <span class="flex"></span>
                <PaperButton @raised={{true}} @primary={{false}} @onClick={{action "bulkAction" "delete"}}>Delete</PaperButton>
                <PaperButton @raised={{true}} @primary={{true}} @onClick={{action "toggleForm" "new"}}>New</PaperButton>
            </div>
        </PaperSubheader>
        {{#each this.clientData as |speedtestclient|}}
            <div class="layout-row">
                <PaperCheckbox @value={{speedtestclient.selected}} @onChange={{action (mut speedtestclient.selected)}}/>
                <SpeedTestClient @speedtestclient={{speedtestclient}}/>
                <span class="flex"></span>
                <div class="layout-column layout-align-center-center">
                    <PaperButton @raised={{true}} @onClick={{action "editDialog" speedtestclient}}>Edit</PaperButton>
                </div>
            </div>
            <PaperDivider />
        {{/each}}
    </PaperList>

    {{#if showForm}}
    <div class="layout-row">
    <PaperDialog @class="flex-30" @onClose={{action "toggleForm" "cancel"}} @origin={{dialogOrigin}} @clickOutsideToClose={{true}}>
        <PaperToolbar>
            <PaperToolbarTools>
                <h2>Speed Test Client
                    {{#if client_id}}
                        (id: {{client_id}})
                    {{/if}}
                </h2>
                <span class="flex"></span>
                <PaperButton @iconButton={{true}} @onClick={{action "toggleForm" "cancel"}}><PaperIcon @icon="close" /></PaperButton>
            </PaperToolbarTools>
        </PaperToolbar>

        <PaperDialogContent>
            <PaperContent @padding={{true}}>
                <PaperForm @onSubmit={{action "submitSpeedTestClient"}} as |form|>
                    <div class="layout-row">
                        <div class="layout-column">
                            <form.input @label="Name" @value={{formData.name}} @onChange={{action (mut formData.name)}} @required={{true}}/>
                            <form.input @label="URI" @value={{formData.uri}} @onChange={{action (mut formData.uri)}} @required={{true}} @customValidations={{URLValidation}}/>
                            <PaperCheckbox @label="Active" @value={{formData.active}} @onChange={{action (mut formData.active)}}/>
                        </div>
                    </div>
                    <div class="layout-row layout-align-end-center">
                        <PaperButton @raised={{true}} @onClick={{action "toggleForm" "cancel"}}>Cancel</PaperButton>
                        <form.submit-button @raised={{true}} @primary={{true}} @diabled={{form.isInvalid}}>Submit</form.submit-button>
                    </div>
                </PaperForm>
            </PaperContent>
        </PaperDialogContent>
    </PaperDialog>
    </div>
    {{/if}}

    {{#if errorMessage}}
    <PaperToast @position={{"top right"}} @escapeToClose={{true}} @onClose={{action "closeToast"}} as |toast|>
        <toast.text>{{errorMessage}}</toast.text>
        <!--
        <PaperButton @accent={{true}} @onClick={{action "buttonAction"}}>Undo</PaperButton>
        -->
    </PaperToast>
    {{/if}}
</div>