<form {{on "submit" this.authenticate}}>
  <label for="username">Login</label>
  <input id="username" autocomplete="username" placeholder="Enter Login" value={{this.username}} {{on "change" this.updateUsername}}>
  <label for="password">Password</label>
  <input id="password" autocomplete="current-password" type="password" placeholder="Enter Password" value={{this.password}} {{on "change" this.updatePassword}}>
  <button type="submit">Login</button>
</form>